*{
  font-family: 'Lemonada', cursive;
  margin: 0 auto;
}
body{
    background-color: #3CBBB1;
}
.contenedor{
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: flex-end;
}
.flex-container{
  width: 30%;
  margin: 10px;
  flex-flow: column;
}

.opciones{
  width: 70%;
}
a{
  margin: 10px;
  font-size: 30px;
  color: #2A1E5C;
}
nav{
  flex-direction: row wrap;
  justify-content: space-between;
  background-color: #E56399;
}
.textoBienvenida{
  display: flex;
  width: 100%;
  margin-top: 50px;
  height: 300px;
  background-image: url("../img/fondoBienvenida.jpg");

  }
.textoContainer{
  justify-content: center;
  color: #2A1E5C;
  height: 350px;
  font-size: 150px;
}
.informacion{
  margin-top: 50px;
  display: flex;
  width: 100%;
  height: 500px;
  flex-direction:column;
}
.titulo{
  font-size: 30px;
  height: 50px;;
  justify-content: center;
  margin-bottom: 10px;
}
.info{
  display: flex;
  height: 250px;
  width: 90%;
  margin-top: 20px;
}
img {
    width:100%;
    max-width:150px;
}
#izquierda{
background-image: url("../img/img-1.jpg");
}

.infoTexto{
  width: 70%;
  background-color: pink;
  color: #7A6563;
}

.video{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.contenedorVideo{

    height:500px;
    width:100%;
    display: flex;
    justify-content: center;
}
.contenedorVideo iframe{

  height:70%;
  width:70%;
  top:0px;
  left:0px;
}
.formulario{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #D3A588;
}
.formContainer{

  width: 20%;
  height: 250px;
}
.input{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.button{
  align-content: flex-end;
}
footer{
  width: 100%;
  height: 50px;
  color: #7A6563;
  background-color: #7FD1B9;
  padding: 25px;
  justify-content: center;
  text-align: center;
}
